<div class="tableinfowrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-8">
        <h5>Category Items</h5>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['additem']" role="button">Add Item</a>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['/categories']" role="button">Go back</a>
      </div>
    </div>  <!-- div row -->
  </div>

  <table class="card-block table table-hover">
    <thead >
      <tr >
        <th>Icon </th>
        <th>Item Name</th>
        <th>Unit Price</th>
        <th>Unit Quantity</th>
        <th>Description </th>
        <!-- <th>Quantity in Stock </th> -->
      </tr>
    </thead>

    <tbody *ngFor="let item of itemdata">
      <tr>
        <td><img src="{{item.icon}}" width="70px" height="70px"></td>
        <td>{{item.name}} </td>
        <td> {{item.unitPrice}}</td>
        <td>{{item.unitQty}} </td>
        <td> {{item.description}}   </td>
        <!-- <td>  {{item.qtyInStock}} </td> -->
        <td> <i [routerLink]="['edititem',item.id]" class="fa fa-fw fa-edit"></i></td>
        <td> <i (click)="deleteitem(item.id)" class="fa fa-fw fa-trash"></i> </td>
      </tr>
    </tbody>

  </table>

  <tbody *ngIf="!itemdata">
    <tr>
      <td colspan="3" align="center">There is no data</td>
    </tr>
  </tbody>



</div>