.formwrap
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;

}

.additem
{
    margin-left: 28%;
    margin-top: 5%;
}


.preview
{
position: absolute;
top: 429px;
left: 705px;
}

.previewimage
{
width: 50%;
}

.previewtext
{
width: 50%;
}

.preview img
{
width: 75px;
height: 75px;
background-size: contain;
}
.imageerror
{
margin-left: 25%;
}