<div class="mainwrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Add Item</h3>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['../']" role="button">Go back</a>
      </div>
    </div>
  </div>
  <div class="formwrap">
    <form #addItem="ngForm" (ngSubmit)="$event.preventDefault();postCategoryResponse()">

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Item Name</label>
        <div class="col-md-9">
          <input #name="ngModel" required type="text" name="name" [(ngModel)]="additem.name" class="form-control form-control" id="lgFormGroupInput" placeholder="">
          <div *ngIf="name.invalid&&name.dirty" class="text-danger" role="alert">
            Please Enter Category Name
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Unit Price</label>
        <div class="col-md-9">
          <input #unitPrice="ngModel" required type="number" min="0" name="unitPrice" [(ngModel)]="additem.unitPrice" class="form-control form-control" id="lgFormGroupInput" placeholder="">
            <div *ngIf="unitPrice.invalid&&unitPrice.dirty" class="text-danger" role="alert">
            Please Enter Valid Unit Price
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Unit Quantity</label>
        <div class="col-md-9">
          <input #qty="ngModel" required type="number" min="0" name="unitQty" [(ngModel)]="additem.unitQty" class="form-control form-control" id="lgFormGroupInput" placeholder="">
                  <div *ngIf="qty.invalid&&qty.dirty" class="text-danger" role="alert">
                    Please Enter Valid Quantity
                  </div>
        </div>
      </div>

     

      <!-- <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Quantity in Stock</label>
        <div class="col-md-9">
          <input required type="text" name="name" [(ngModel)]="additem.qtyInStock" class="form-control form-control" id="lgFormGroupInput" placeholder="">
        </div>
      </div> -->

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">In Stock </label>
        <div class="col-md-9">
        <select required class="form-control" [(ngModel)]="additem.inStock" name=value>
          <option name="true" value="true">In Stock</option>
          <option name="false" value="false">Not in Stock</option>
        </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Item Description</label>
        <div class="col-md-9">
          <textarea #description="ngModel" style="resize: none" name="description" [(ngModel)]="additem.description" class="form-control" id="exampleTextarea"
            rows="3"></textarea>
         
        </div>
      </div>

      <div class="form-group row">
        <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Choose Logo</label>
        <div class="col-md-9">
          <label class="custom-file">
            <input type="file" id="file" (change)="previewImage($event)" accept='image/*' class="custom-file-input" value="">
            <span class="custom-file-control"></span>
          </label>
        </div>
       <!--  <div class="col-md-3">
          <input type="button" class="btn btn-primary" value="Upload Image">
        </div> -->
      </div>

      <div class="preview">
        <div class="previewimage">
          <img id="imagesrc" #fileInput>
      
        </div>
        <!-- <div class="previewname">
          <p> {{filename}}</p>
        </div> -->
      
      </div>
      <div class="text-danger imageerror" *ngIf="imageError">
        Please Upload a Image
      </div>


      <div class="additem">
        <input [disabled]="!addItem.form.valid" type="submit" class="btn btn-primary" value="Add Item">
      </div>

    </form>

  </div>

</div>