<div class="mainwrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Order Details</h3>
      </div>
      <div class="col-xl-2">
        <button class="btn btn-primary" (click)="goBack()" role="button">Go back</button>
      </div>
      <div class="col-xl-2">
      
      </div>
      <!-- div col xl 2-->
    </div>
  </div>
  <!-- div row  --  >

  <div class="details">
    <div class="row">
      <div class="col-xl-6">

        <div class="card">
          <div class="card-header">
            <h5>Customer Details</h5>
          </div>
          <div class="cardtable table-bordered-block">
            <table class="table table-bordered" *ngIf="customer">
              <tr>
                <th>Customer Phone Number</th>
                <td>{{customer.phoneNumber}} </td>
              </tr>
              <tr>
                <th>User Verification</th>
                <td>{{customer.verified}} </td>
              </tr>
              <tr>
                <th>Customer Id</th>
                <td>{{customer.id}} </td>
              </tr>


            </table>

          </div>
        </div>

      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5> Table Details </h5>
          </div>
          <div class="cardtable table-bordered-block">
            <table class="table table-bordered" *ngIf="table">
              <tr>
                <th>Table Number</th>
                <td>{{table.tableNumber}} </td>
              </tr>
              <tr>
                <th>Seating Capacity</th>
                <td>{{table.seatingCapacity}} </td>
              </tr>
              <tr>
                <th>Occupancy</th>
                <td>{{table.occoupied}} </td>
              </tr>


            </table>

          </div>
        </div>

      </div>

    </div>



  </div>
  <!-- div customer details -->
  <div class="orderdetails" *ngIf="orderdata">

    <div class="card" *ngFor="let order of orderdata">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-7">
            <h4>{{order.orderName}}</h4>
          </div>
          <h4>{{order.paymentStatusText}} </h4>
        </div>

      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Item Name </th>
              <th>Unit Price </th>
              <th>Quantity Ordered </th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.orderItemsArray">
              <td>{{item.name}} </td>
              <td>{{item.unitPrice}} </td>
              <td>{{item.quantity}} </td>
              <td>{{item.unitPrice* item.quantity}} </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <th>Total Amount</th>
              <td>{{order.amount}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
    <!-- div order data card -->
  </div>
  <!-- div order details -->

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-7">
          <h4> Total Amount Paid </h4>
        </div>
        <div class="col-xl-2">
          <h4> {{totalamount}} </h4>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- div mainwrap -->