<div class="mainwrap">
<div class="card-header">
  <div class="row">
    <div class="col-xl-10">
      <h3>Edit Table</h3>
    </div>
    <div class="col-xl-2">
      <a class="btn btn-primary" [routerLink]="['/tableinfo']" role="button">Go back</a>
    </div>
  </div>
</div>

<div class="formwrap">
  <div class="container">
<form #edittableForm="ngForm" (ngSubmit)="$event.preventDefault();updateEditTableResponse()">

  <div class="form-group row">
    <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Table Number</label>
    <div class="col-md-10">
      <input required type="number" pattern="^(0|[1-9][0-9]*)$" #table="ngModel" [(ngModel)]="edittable.tableNumber" name="tableNumber" class="form-control form-control" id="lgFormGroupInput">
        <div  *ngIf="table.invalid&&table.dirty" class="text-danger" role="alert">
          Enter a numeric value
        </div>
    </div>
  </div>


  <div class="form-group row">
    <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Seating Capacity</label>
    <div class="col-md-10">
      <input required #seating="ngModel" type="number" [(ngModel)]="edittable.seatingCapacity" name="seatingCapacity" class="form-control form-control" id="lgFormGroupInput"
        placeholder="">
        <div [hidden]="seating.pristine||seating.valid" *ngIf="seating.invalid&&seating.dirty" class="text-danger" role="alert">
          Enter a numeric value
        </div>
    </div>
  </div>


  <div class="edittablebutton">
    <input [disabled]="!edittableForm.valid" type="submit" class="btn btn-primary" value="Update Table">
  </div>


</form>
</div>
</div>




</div>  <!-- mainwrap -->