<div class="tableinfowrap">
  <div class="card-header">
      <div class="row">
        <div class="col-xl-10"><h3>Tables</h3></div>
        <div  class="col-xl-2"> <a class="btn btn-primary" [routerLink]="['addresttable']" role="button">Add Table</a> </div>
      </div>
  </div>
<table class="card-block table table-hover">
  <thead>
  <tr>
    <th>Table Number</th>
    <th>Sitting Capacity</th>
    <th>QR Code</th>
    <th>Status</th>
    <th></th>
  </tr>
</thead>
<tbody *ngFor="let table of tablelist" >
<tr>
<td>{{table.tableNumber}}</td>
<td>{{table.seatingCapacity}}</td>
<td> <img  (click)="openModal(template)" src="{{table.qrCodeUrl}}" width="60px" height="60px">   </td>
    <!-- modal start -->      
    <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">QR Code Options</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" align="center" >
              <img align="center" src="{{table.qrCodeUrl}}" width="300px" height="300px" id="qrCode" #qrCode >
            </div>
            <div class="modal-footer">
              <button type="button" (click)="printQRCode()" class="btn btn-primary">Print QR Code</button>
              <a type="button"  href="{{table.qrCodeUrl}}" target="_blank" download="QR Code" class="btn btn-primary">Download QR Code</a>  
            </div>
          </ng-template>
    <!-- modal ends -->
<td *ngIf="!table.occoupied">Available</td>
<td *ngIf="table.occoupied"><a [routerLink]="['../orders/orderdetails/',table.checkInId]">Occupied</a></td>
<td [routerLink]="['editresttable',table.id]"><i title="Edit Table" class="fa fa-fw fa-edit"></i></td>
<!-- <td (click)="deleteTable(table.id)"><i class="fa fa-fw fa-trash"></i></td> -->
</tr>
</tbody>
</table>
</div>