<div class="tableinfowrap">

   <div class="card">
    <div class="card-block">
      <h4 class="card-title">Statistics</h4>
      <div class="card-header">
        <div class="row">
          <div class="col-xl-4">
            Select Date Range
          </div>

          <div class="col-xl-4">
        <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="model" required></my-date-range-picker>
          </div>
          <div class="col-xl-4">
            <button class="btn btn-primary btn-sm" (click)="getStatistics()">Get Statistics</button>
          </div>
      
        </div>
      </div>
      
      
    </div>



<div class="row">
  <div class="col-xl-2">

  </div>
  <div class="col-xl-3" *ngIf="statData">
    <div class="card card-inverse card-primary">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-cutlery fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">{{numOfOrders}}</div>
            <div class="d-block">Number of Orders</div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer">
        <span class="float-left">View Details </span>
        <a class="float-right card-inverse" href="javascript:void(0)">
          <span>
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div> -->
    </div>
  </div>
  <div class="col-xl-1">

  </div>

  <div class="col-xl-3" *ngIf="statData">
    <div class="card card-inverse card-primary">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-inr fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">{{collectedAmount}}</div>
            <div class="d-block">Amount Collected</div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer">
        <span class="float-left">View Details </span>
        <a class="float-right card-inverse" href="javascript:void(0)">
          <span>
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div> -->
    </div>

  </div>


</div>
  </div> 




</div>