<div class="mainwrap">

        <div class="card-header">
                <div class="row">
                  <div class="col-xl-10"><h3>Add Menu</h3></div>
                  <div  class="col-xl-2"> <a class="btn btn-primary" [routerLink]="['/menus']" role="button">Go back</a>  </div>
                </div>
            </div>
 <div class="formwrap">
<form #addMenu="ngForm" (ngSubmit)="$event.preventDefault();postMenuResponse()">

        <div class="form-group row">
            <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Menu Name</label>
                <div class="col-md-10">
                  <input #menu="ngModel" required type="text" [(ngModel)]="addmenu.name" name="name" class="form-control form-control" id="lgFormGroupInput" placeholder="">
                <div *ngIf="menu.invalid&&menu.touched" class="text-danger" role="alert">
                Please Enter Menu Name
                </div>
                
                </div>
        </div>

<div class="addmenu">
<input  [disabled]="!addMenu.form.valid"  type="submit" class="btn btn-primary" value="Add Menu">
</div>

</form>

 </div>

</div>