<div class="tableinfowrap">
        <!-- cards -->


  <div class="ordercards">
    <div class="row">

      <div class="col-xl-3 col-lg-6" [routerLink]="['/home']" style="cursor: pointer">
      
        <div class="card card-inverse card-info">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-bell fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{reqCount}} </div>
                <div class="d-block">New Requests</div> 
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="float-left">View Details </span>
            <a class="float-right card-inverse" href="javascript:void(0)">
              <span>
                <i class="fa fa-arrow-circle-right"></i>
              </span>
            </a>
          </div>
        </div>
      
      </div>

       <div class="col-xl-3 col-lg-6" [routerLink]="['../',0]" style="cursor: pointer">
        <div class="card card-inverse card-primary">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{current_count}}</div>
                <div class="d-block">Current Orders</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="float-left">Check All Orders </span>
            <a class="float-right card-inverse" href="javascript:void(0)">
              <span>
                <i class="fa fa-arrow-circle-right"></i>
              </span>
            </a>
          </div>
        </div>
  
      </div> 

      
      <div class="col-xl-3 col-lg-6" [routerLink]="['../',1]" style="cursor: pointer">
  
        <div class="card card-inverse card-success">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-hourglass-start fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{newOrderCount}}  </div>
                <div class="d-block">Orders Initiated!</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="float-left">Check New Orders </span>
            <a class="float-right card-inverse">
              <span>
                <i class="fa fa-arrow-circle-right"></i>
              </span>
            </a>
          </div>
        </div>
  
      </div>



      <div class="col-xl-3 col-lg-6" [routerLink]="['../',2]" style="cursor: pointer">
  
        <div class="card card-inverse card-danger">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-hourglass-half fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{inProgressCount}}  </div>
                <div class="d-block">Order In Progress</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="float-left">Check Accepted Orders </span>
            <a class="float-right card-inverse">
              <span>
                <i class="fa fa-arrow-circle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- div order cards -->



   <!--    -->

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>{{getHeaderText()}}</h3>
      </div>
      
    </div>
  </div>


<div class="card" *ngFor="let item of checkInItems">
  <div class="card-block" >
    <div class="row">
      <div class="col-xl-10">
        <h4 class="card-title checkinid" >Checkin Id - {{item.checkinid}}</h4>
      </div>
    <div class="col-xl-2">
      <button class="btn btn-primary btn-sm" [routerLink]="['../orderdetails',item.checkinid]" role="button">View Details</button>
    </div>
    </div>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Order Details</h6> -->
   
<table class="card-block table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Number</th>
      <th>Time</th>  
      <th>Amount</th>
      <th>Payment</th>
      <th>Status</th>
      <th >Operations</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let order of item.orderdata">
      <td>{{order.orderName}}</td>
      <td> {{order.customer.name}} </td>
      <td> {{order.customer.phoneNumber}} </td>
      <td>{{order.created}} </td>
      <td>{{order.amount}} </td>
      <td>{{order.paymentStatusText}} </td>
      <td>{{order.orderStatusText}}</td>
      <td>
         <div class="row">
            <div class="col-xl-6" *ngIf="order.orderStatus=='1'||order.orderStatus=='2'">
<button *ngIf="order.orderStatus=='1'" (click)="changeOrderStatus(order.id,order.orderStatus)" class="btn btn-primary btn-sm">Mark In Progress</button>
<button *ngIf="order.orderStatus=='2'" (click)="changeOrderStatus(order.id,order.orderStatus)" class="btn btn-primary btn-sm">Mark Completed</button>


            <!-- <i (click)="changeOrderStatus(order.id)" class="fa fa-fw fa-check"></i> -->
            </div>
            <div class="col-xl-6">
            <!-- <i  (click)="cancelOrder(order.id,4)" class="fa fa-fw fa-remove"></i> -->
            <button *ngIf="order.orderStatus=='2'||order.orderStatus=='1'" (click)="cancelOrder(order.id,4)" class="btn btn-danger btn-sm"> Cancel Order </button>
            </div>
         </div>
         
      </td>
      
    </tr>

  </tbody>

</table>

    
</div>



  </div>