<div class="mainwrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Password Settings</h3>
      </div>
      <div class="col-xl-2">
        <button class="btn btn-primary btn-sm" #change (click)="changePasswordForm()" hidden> Change Password </button>
        <button class="btn btn-primary btn-sm" #cancel (click)="changePasswordForm()" hidden> Cancel</button>
      </div>
      
    </div>
  </div>
  <div class="formwrap">
    <form #settings="ngForm" (ngSubmit)="$event.preventDefault();postPasswordResponse()">
      <fieldset #editpass disabled>
      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-4 col-form-label col-form-label">Old Password</label>
        <div class="col-md-8">
          <input #old [(ngModel)]="changePassword.oldPassword" required type="password"  name="old" class="form-control form-control" id="lgFormGroupInput"
            placeholder="">
            <div *ngIf="old.invalid&&old.touched" class="text-danger" role="alert">
            Please Enter Menu Name
          </div> 

        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-4 col-form-label col-form-label">New Password</label>
        <div class="col-md-8">
          <input #new [(ngModel)]="changePassword.newPassword"required type="password" name="new" class="form-control form-control" id="lgFormGroupInput" placeholder="">
           <div *ngIf="new.invalid&&new.touched" class="text-danger" role="alert">
                  Please Enter Menu Name
                </div> 
  
        </div>
      </div>


      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-4 col-form-label col-form-label">Confirm Password</label>
        <div class="col-md-8">
          <input #confirm [(ngModel)]="newPass" required type="password" name="confirm" class="form-control form-control" id="lgFormGroupInput" placeholder="">
           <div *ngIf="confirm.invalid&&confirm.touched" class="text-danger" role="alert">
                  Please Enter Menu Name
                </div> 
      
        </div>
      </div>

      <div *ngIf="isSame" class="alert alert-warning alert-dismissible" role="alert">
        New Password and Confirm Password are not same
      </div>

      <div *ngIf="incorrectPass" class="alert alert-warning alert-dismissible effect" role="alert">
        Old Password is not correct
      </div>

      <div *ngIf="success" class="alert alert-success alert-dismissible">
      Password Successfully Changed
      </div>

      <div #changebutton class="addmenu" hidden >
        <input [disabled]="!settings.form.valid" type="submit" class="btn btn-primary" value="Change Password">
      </div>

      </fieldset>
    </form>

  </div>

</div>