<div class="homewrap">

<div class="ordercards">
<div class="row">  

  <div class="col-xl-3 col-lg-6">
  
    <div class="card card-inverse card-info">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-bell fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">{{reqCount}}</div>
            <div class="d-block">New Requests</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <span class="float-left">View Details </span>
        <a class="float-right card-inverse" href="javascript:void(0)">
          <span>
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div>
    </div>
  
  </div>

<div  class="col-xl-3 col-lg-6" [routerLink]="['../orders',0]" style="cursor: pointer">
    <div  class="card card-inverse card-primary">
      <div class="card-header">
        <div  class="row">
          <div  class="col col-xs-3">
            <i  class="fa fa-comments fa-5x"></i>
          </div>
          <div  class="col col-xs-9 text-right">
            <div  class="d-block huge"> {{current_count}}</div>
            <div  class="d-block">Current Orders</div>
          </div>
        </div>
      </div>
      <div  class="card-footer">
        <span  class="float-left">View Details </span>
        <a  class="float-right card-inverse" href="javascript:void(0)">
          <span >
            <i  class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div>
    </div>

</div>

<div class="col-xl-3 col-lg-6" [routerLink]="['../orders',1]" style="cursor: pointer">
 
    <div  class="card card-inverse card-success">
      <div  class="card-header">
        <div  class="row">
          <div  class="col col-xs-3">
            <i  class="fa fa-hourglass-start fa-5x"></i>
          </div>
          <div  class="col col-xs-9 text-right">
            <div  class="d-block huge">{{initiated_count}}</div>
            <div  class="d-block">Order Initiated!</div>
          </div>
        </div>
      </div>
      <div  class="card-footer" >
        <span  class="float-left">Check New Orders </span>
        <a  class="float-right card-inverse" >
          <span >
            <i  class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div>
    </div>

</div>
<div  class="col-xl-3 col-lg-6" [routerLink]="['../orders',2]" style="cursor: pointer">

    <div class="card card-inverse card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-hourglass-half fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">{{inprogress_count}}</div>
            <div class="d-block">Order In Progress</div>
          </div>
        </div>
      </div>
      <div class="card-footer" >
        <span class="float-left">Check Accepted Orders </span>
        <a class="float-right card-inverse" >
          <span>
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </div>
    </div>
</div>

</div>
</div>     <!-- div order cards -->

<div class="card-header requestcard">
  <div class="row">
    <div class="col-xl-10">
      <h3>Current Requests</h3>
    </div>
  </div>

</div>
<div class="homerequest">
      <table class="table">
        <thead>
          <th>Table Number </th>
          <th>Request</th>
          <th>Customer Name</th>
          <th>Request Time</th>
          <th>Request Action </th>
        </thead>
      
      <tbody>
       <tr *ngFor="let request of requestList">
            <td> {{request.table.tableNumber}} </td>
            <td> {{request.requestMessage}} </td>
            <td> {{request.customer.name}} </td>
            <td> {{request.createdDate}} </td>
            <td>
              <button role="button" (click)="updateRequest(request.id,'3')" class="btn btn-primary btn-sm">Accept Request</button>
             <!--  <div class="row">
                <div  class="col-xl-1">

                </div>
            <div class="col-xl-3">
              <i title="Accept Request" (click)="updateRequest(request.id,'3')" class="fa fa-fw fa-check"></i>
            </div>
            <div class="col-xl-3">
            <i title="Cancel Request"  (click)="updateRequest(request.id,'2')" class="fa fa-fw fa-remove"></i>
            </div>
            <div class="col-xl-1">
            
            </div>
            </div> -->
            </td>
      
      </tr>
           
       </tbody>
          
      </table>

      
</div>


</div>
