<div class="mainwrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Edit Item</h3>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['../../']" role="button">Go back</a>
      </div>
    </div>
  </div>
  <div class="formwrap">
    <form #addMenu="ngForm" (ngSubmit)="$event.preventDefault();editCategoryResponse()">

      <div class="form-group row" *ngIf="edititem">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Item Name</label>
        <div class="col-md-9">
          <input type="text" name="name" [(ngModel)]="edititem.name" class="form-control form-control" id="lgFormGroupInput">
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Unit Price</label>
        <div class="col-md-9">
          <input type="text" name="unitPrice" [(ngModel)]="edititem.unitPrice" class="form-control form-control" id="lgFormGroupInput"
            placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Unit Quantity</label>
        <div class="col-md-9">
          <input type="text" name="unitQty" [(ngModel)]="edititem.unitQty" class="form-control form-control" id="lgFormGroupInput" placeholder="">
        </div>
      </div>

      <!-- <div class="form-group row"> 
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Quantity in Stock</label>
        <div class="col-md-9" *ngIf="edititem">
          <input type="text" name="name" [(ngModel)]="edititem.qtyInStock" class="form-control form-control" id="lgFormGroupInput" placeholder="">
        </div>
      </div> -->

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">In Stock </label>
        <div class="col-md-9">
          <select class="form-control" [(ngModel)]="edititem.inStock" name=value>
            <option name="true" value="true">In Stock</option>
            <option name="false" value="false">Not in Stock</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Category Description</label>
        <div class="col-md-9">
          <textarea style="resize: none" name="description" [(ngModel)]="edititem.description" class="form-control" id="exampleTextarea"
            rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Choose Logo</label>
        <div class="col-md-8">
          <label class="custom-file">
            <input type="file" id="file"  (change)="previewImage($event)" accept='image/*' class="custom-file-input" value="">
            <span class="custom-file-control"></span>
          </label>
        </div>
        
      </div>

      <div class="preview">
        <div class="previewimage">
          <img id="imagesrc"src="{{edititem.icon}}" #fileInput>
      
        </div>
        <!-- <div class="previewname">
          <p> {{filename}}</p>
        </div> -->
      
      </div>
      <div class="text-danger imageerror" *ngIf="imageError">
        Please Upload a Image
      </div>

      <div class="edititem">
        <input type="submit" class="btn btn-primary" value="Update Item">
      </div>

    </form>

  </div>

</div>