<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Belue Login</h1>
            <form #LoginForm="ngForm" method="post" (ngSubmit)="$event.preventDefault();postLoginResponse()"> 
                <div class="form-content">
            <div class="form-group">
                <input type="text" name="username" class="form-control input-underline input-lg" id="username" placeholder="Username"
                 required [(ngModel)]="reslogin.username" #username="ngModel" (focus)="message=false">
                <div [hidden]="username.untouched || username.pristine" *ngIf="username.invalid" class="messagecss">
                Please Enter the username
                </div>
            </div>
                <div class="form-group">
                   <input type="password" name="password" class="form-control input-underline input-lg" id="password" placeholder="Password"
                    required [(ngModel)]="reslogin.password" #password="ngModel"  (focus)="message=false">
                    <div [hidden]="password.untouched || password.pristine" *ngIf="password.invalid" class="messagecss">
                        Please Enter the password
                    </div>
                 </div>

                 <div class="submitcss" *ngIf="message">
                    Invalid username or password
                 </div>

                </div>
                <input [disabled]="!LoginForm.form.valid" class="btn rounded-btn" type="submit" value="Login">
                &nbsp;
               <!--  <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>
