<div class="mainwrap">

    <div class="card-header">
        <div class="row">
            <div class="col-xl-10">
                <h3>{{getHeaderText()}}</h3>
            </div>
            <div class="col-xl-2">
                <a class="btn btn-primary" [routerLink]="['/categories']" role="button">Go back</a>
            </div>
        </div>
    </div>
    <div class="formwrap">
        <form #addCategory="ngForm" (ngSubmit)="$event.preventDefault();postCategoryResponse()">

            <div class="form-group row">
                <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Category Name</label>
                <div class="col-md-9">
                    <input required #name="ngModel" type="text" [(ngModel)]="addcategory.name" name="name" class="form-control" id="lgFormGroupInput" placeholder="">
            <div *ngIf="name.invalid&&name.dirty" class="text-danger" role="alert">
                Please Enter Category Name
            </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Description</label>
                <div class="col-md-9">
                    <textarea required #description="ngModel" style="resize: none" name="description" [(ngModel)]="addcategory.description" class="form-control" id="exampleTextarea" rows="3"></textarea>
                <div *ngIf="description.invalid&&description.dirty" class="text-danger" role="alert">
                    Please Enter Category Description
                </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Tax %</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-xl-3">
                                    <label>CGST </label>
                                    <input  name="cgst" value="" [(ngModel)]="addcategory.cgstValue" type="number" min="0" class="form-control form-control-sm">
                                </div>
                                <div class="col-xl-3">
                                    <label>SGST </label>
                                    <input name="sgst" value="" [(ngModel)]="addcategory.sgstValue" type="number" min="0" class="form-control form-control-sm">
                                </div>
                                <div class="col-xl-3">
                                    <label>IGST </label>
                                    <input name="igst"  value="" [(ngModel)]="addcategory.igstValue" type="number" min="0"  class="form-control form-control-sm">
                                </div>

                                <div class="col-xl-3">
                                    <label>GST </label>
                                    <input name="gst" value="" [(ngModel)]="addcategory.gstValue" type="number" min="0" class="form-control form-control-sm">
                                </div>

                            </div>

                            
                        </div>
                        
                        
                        <div class="col-xl-3">
                        <label >Total Tax </label>
                        <label> {{addcategory.totalTax}}%</label>
                        </div>

                    </div>

                    <div *ngIf="description.invalid&&description.dirty" class="text-danger" role="alert">
                        Please Enter Category Description
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Choose Logo</label>
                <div class="col-md-5">
                    <label class="custom-file">
                        <input type="file" (change)="previewImage($event)" id="file" accept='image/*' class="custom-file-input" value="" >
                        <span class="custom-file-control"></span>
                    </label>
                </div>
                <!-- <div class="col-md-3">
                    <input type="button" (click)="uploadImage()" class="btn btn-primary" value="Upload Image">  
                </div> -->
            </div>
            

            <div class="preview">
                <div class="previewimage">
                    <img id="imagesrc"  src="{{addcategory.icon}}" #fileInput>
                   
                </div>
                <!-- <div class="previewname">
                <p> {{filename}}</p>
                </div> -->
            </div>

            <div class="text-danger imageerror" *ngIf="imageError">
                Please Upload a Image
            </div>
   
            <div class="addcategory">
                <button [disabled]="!addCategory.form.valid"  type="submit" class="btn btn-primary" >  {{getHeaderText()}}  </button>
            </div>

        </form>

    </div>

</div>