.formwrap
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;

}

.addcategory
{
    margin-left: 28%;
    margin-top: 5%;
}

.preview
{
position: absolute;
top: 350px;
left: 650px;

}

.previewimage
{
width: 50%;
}

.previewtext
{
width: 50%;
}

.preview img
{
width: 75px;
height: 75px;
background-size: contain;
}
.imageerror
{
margin-left: 25%;
}



/* remove spiiner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
