<div class="mainwrap">
    
    <div class="card-header">
        <div class="row">
          <div class="col-xl-10"><h3>Add Table</h3></div>
          <div  class="col-xl-2"> <a class="btn btn-primary" [routerLink]="['/tableinfo']" role="button">Go back</a>  </div>
        </div>
    </div>
<div class="formwrap">
  <div  class="container">
<form #addtableForm="ngForm" (ngSubmit)="$event.preventDefault();postAddTableResponse()"> 
    <div class="form-group row ">
        <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Table Number</label>
        <div class="col-md-10">
          <input type="number" #table="ngModel" [(ngModel)]="addtable.tableNumber" name="tableNumber" class="form-control form-control" id="lgFormGroupInput" required>
        <div  *ngIf="table.invalid&&table.dirty" class="text-danger" role="alert">
          Enter a numeric value
        </div>
        </div>

      </div>

      <div class="form-group row">  
        <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Seating Capacity</label>
        <div class="col-md-10">
          <input type="number" #seating="ngModel"  [(ngModel)]="addtable.seatingCapacity" name="seatingCapacity" class="form-control form-control" id="lgFormGroupInput" required>
        <div  *ngIf="seating.invalid&&seating.dirty" class="text-danger" role="alert">
          Enter a numeric value
        </div>
        </div>
        
      </div>
     
      <div class="addtablebutton">
      <input [disabled]="!addtableForm.form.valid" type="submit" class="btn btn-primary" value="Add Table">
        </div>
</form>
</div>

</div>

</div>