<div class="mainwrap">
  
  <div class="card-header">
    <div class="row">
      <div class="col-xl-8">
        <h3>Order Details</h3>
      </div>
      <div class="col-xl-2">
        <button class="btn btn-primary" (click)="goBack()" role="button">Go back</button>
      </div>
      <div class="col-xl-2">
    <div *ngIf="checkedIn && buttonVisible" >
      <button (click)="checkOutModal()" type="button" class="btn btn-primary">
       Check Out 
      </button>
     <!--  <ul *dropdownMenu class="dropdown-menu" role="menu" >
        <li *ngFor="let option of globalData.paymentType" role="menuitem">
          <a (click)="checkOut(option.text)" class="dropdown-item">{{option.text}}</a>
        </li>
        
      </ul> -->
    </div>
      </div>   <!-- div col xl 2-->
    </div>    
    </div>  <!-- div row  --  >
  <!-- modal starts -->   
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Customer Check Out</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalService.hide(1)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="paid">
        Customer have already Paid
      </div>
      <div *ngIf="!paid">
        <div class="form-group row">
          <label for="paymentMode" class="col-md-4 col-form-label col-form-label-md">Unpaid Amount</label>
          <div class="col-md-8">
           {{unpaidAmount}}
          </div>
        </div>
        <div class="form-group row">
          <label for="paymentMode" class="col-md-4 col-form-label col-form-label-md">Payment Mode</label>
          <div class="col-md-8">
            <select required name="paymentMode" [(ngModel)]="checkout.paidInfo" class="form-control" id="type">
              <option value="Paid Online">Paid online</option>
              <option value="Paid by Card">Paid by card</option>
              <option value="Paid by Cash">Paid by cash</option>
            </select>
          </div>
        </div>


      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="paid">
        <button class="btn btn-primary" (click)="checkOut('Paid By App')">CheckOut</button>
      </div>
      <div *ngIf="!paid">
        <button class="btn btn-primary" (click)="checkOut(checkout.paidInfo)">CheckOut</button>
      </div>
    </div>
   
  </ng-template>
  
  
  <!--modal ends  -->  

  <div class="details">
    <div class="row">
      <div class="col-xl-6">

        <div class="card">
          <div class="card-header">
            <h5>Customer Details</h5>
          </div>
          <div class="cardtable table-bordered-block">
            <table class="table table-bordered" >
              <tr>
                <th>Customer Name</th>
                <td>{{sessiondata?.customer?.name}} </td>
              </tr>
              <tr>
                <th>User Verification</th>
                <td>{{sessiondata?.customer?.verified}} </td>
              </tr>
              <tr>
                <th>Customer Id</th>
                <td>{{sessiondata?.customer?.id}} </td>
              </tr>


            </table>

          </div>
        </div>

      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5> Table Details </h5>
          </div>
          <div class="cardtable table-bordered-block">
            <table class="table table-bordered" >
              <tr>
               <th>Table Number</th>
                <td>{{sessiondata.table?.tableNumber}} </td>
              </tr>
              <tr>
                <th>Seating Capacity</th>
                <td>{{sessiondata.table?.seatingCapacity}} </td>
              </tr>
              <tr>
                <th>Occupancy</th>
                <td>{{sessiondata.table?.occoupied}} </td> 
              </tr>


            </table>

          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- div customer details -->
  <div class="orderdetails" >

    <div class="card" *ngFor="let order of sessiondata.orders">
      <div class="card-header">
        <div class="row">
        <div class="col-xl-4">
          <h4>{{order.orderName}}</h4>
        </div> 
        <div class="col-xl-4">
            <h4>{{order.orderStatusText}}</h4>
        </div> 
         <h4>{{order.paymentStatusText}} </h4>
        </div>
        
      </div>
      <div>
        <table class="table">
          <thead>
              <tr>
                <th>Item Name </th>
                <th>Unit Price </th>
                <th>Quantity Ordered </th>
                <th>Amount</th>
                <th> Tax%</th>
                <th>Tax Amount </th>
                <th>Total Amount</th>
              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of order.orderItemsArray">
            <td>{{item.name}} </td>
            <td>{{item.unitPrice}} </td>
            <td>{{item.quantity}}</td>
            <td>{{item.amount}}</td>
            <td> {{item.totalTax}}</td>
            <td> {{item.taxAmount}}</td>
            <td> {{item.totalAmount}}</td>
            </tr>
         
            <tr>
              <td></td>
              
              <th>Remaining Amount</th>
              <td>{{order.remainingAmount}}</td>
              <td></td>
              <td></td>
              
              <th>Total Amount</th>
              <td>{{order.amount}}</td>

            </tr>
          </tbody>

        </table>
      </div>
    </div>        <!-- div order data card -->
  </div>      <!-- div order details -->


  <div class="card">
  <div class="card-header">
    <div class="row"> 
      <div class="col-xl-3"></div>
      <div class="col-xl-7"><h4> Total Amount </h4> </div>
      <div class="col-xl-2"><h4> {{totalamount}} </h4> </div>
    </div>
  </div>
  
</div>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-7">
        <h4>Received Amount </h4>
      </div>
      <div class="col-xl-2">
        <h4> {{paidAmount}} </h4>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-7">
        <h4> Remaining  Amount </h4>
      </div>
      <div class="col-xl-2">
        <h4> {{unpaidAmount}}</h4>
      </div>
    </div>
  </div>

</div>



</div>      <!-- div mainwrap -->