
.formwrap
{
width: 60;
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
}

.updatebutton
{
float: left;
width: 100%;
margin-left: 28%;
margin-top: 1%;
}



.preview
{
position: absolute;
top: 360px;
left: 700px;
}

.previewimage
{
width: 50%;
}

.previewtext
{
width: 50%;
}

.preview img
{
width: 70px;
height: 70px;
background-size: contain;
}
.imageerror
{
margin-left: 25%;
}

.image-upload > input
{
    display: none;
}


.multipleimage
{
width: 80%;
margin-left: 0%;
}


.resimage
{
float: left;
width: 20%;
margin-right: 2%;
margin-bottom: 2%;

}

.resimage span
{
position: relative;
left: 82px;
top: -34px;
}

.resimage img
{
border: 4px solid rgba(128, 128, 128, 0.48);
}