<div class="profileinfowrap">
<div class="card-header">
  <div class="row">
  <div class="col-xl-10"><h3>Profile</h3></div>
  <div  class="col-xl-2" > 
    <button class="btn btn-primary" (click)="onedit()"  #edit id="edit" role="button"  hidden>Edit Profile</button>
    <button class="btn btn-primary" (click)="oncancel()"#cancel id="cancel" role="button"  hidden>Cancel</button>
  </div>
</div>
</div>
<div class="formwrap">
<form method="get"  (ngSubmit)="$event.preventDefault();patchProfileResponse()">
    <fieldset #editform disabled>
      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Name</label>
        <div class="col-md-9">
          <input disabled type="name" name="name" [(ngModel)]="profileObj.name" class="form-control form-control" id="lgFormGroupInput" placeholder="">
        </div>
      </div>
    <!-- <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Email</label>
        <div class="col-md-9">
          <input type="email" name="email" [(ngModel)]="profileObj.email" class="form-control form-control" id="lgFormGroupInput" placeholder="">
        </div>
      </div> -->
      <div class="form-group row">
        <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label">Address</label>
        <div class="col-md-9">
          <input type="text" name="address" [(ngModel)]="profileObj.address" class="form-control form-control" id="smFormGroupInput" placeholder="">
        </div>
      </div>
      <div class="form-group row">
          <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Contact Number</label>
          <div class="col-md-9">
            <input type="tel" name="mobileNumber" [(ngModel)]="mobNumber" class="form-control form-control" id="smFormGroupInput" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Cuisines</label>
          <div class="col-md-9">
            <input type="text" name="cuisines" [(ngModel)]="profileObj.cuisine" class="form-control form-control" id="smFormGroupInput" placeholder="">
          </div>
        </div>

        <div class="form-group row">
          <label for="paymentype" class="col-md-3 col-form-label col-form-label-md">Payment Type</label>
          <div class="col-md-9">
            <select required name="paymentType" [(ngModel)]="profileObj.paymentTypeCode" class="form-control" id="type">
              <option selected>Select Payment Type</option>
              <option [value]="1">Prepaid</option>
              <option [value]="2">Postpaid</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
            <label for="file" class="col-md-3 col-form-label col-form-label-md">Choose Logo</label>
            <div class="col-md-9">
            <label class="custom-file">
                <input type="file" id="file" (change)="previewImage($event)" accept='image/*' class="custom-file-input" value="">
                <span class="custom-file-control"></span>
              </label>
          </div>
        </div>

        <div class="preview" *ngIf="profileObj.logo&&showImage">
          <div class="previewimage">
            <img id="imagesrc"  src="{{profileObj.logo}}" width="70px" height="70px">
        
          </div>
          <div class="previewname">
            <p> {{filename}}</p>
          </div>
        
        </div>  
        
        <div class="text-danger imageerror" *ngIf="imageError">
          Please Upload a Image
        </div>


        <div class="form-group row">
            <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Restaurant images</label>
            <div class="col-md-9">
                <div class="image-upload">
                  <button type="button" class="btn btn-primary" (click)="openFileBrowser()">Add Image</button>
            
                  <input id="fileinput" type="file"  accept='image/*' (change)="resImagesUpload($event)" />
                </div>


          </div>
        </div>       <!-- add restaurant image -->

        <div class="multipleimage" *ngIf="showImage">
          <div class="resimage" *ngFor="let image of profileObj.images">
            <span (click)="deleteResImage(image)"><i class="fa fa-fw fa-remove"></i> </span>
            <img id="imagesrc" src="{{image}}" width="70px"height="70px">
          </div>
        
        </div>


        
      
        <div #updatebutton class="updatebutton" hidden>
        <input button class="btn btn-primary" type="submit" value="Update Profile">
        </div>

    </fieldset>

</form>


</div>         <!-- div formwrap -->

</div>   <!-- div profile wrap -->