<div class="tableinfowrap">

<div class="card-header">
    <div class="row">
      <div class="col-xl-10"><h3>Menu</h3></div>
      <div  class="col-xl-2"> <a class="btn btn-primary" [routerLink]="['addmenu']" role="button">Add Menu</a>  </div>
    </div>
</div>


  <table class="card-block table table-hover">
  <thead>
  <tr>
    <th>Menu Name</th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody *ngFor="let menu of menudata">
<tr>
<td> {{menu.name}}</td>
<td [routerLink]="['editmenu',menu.id]"> <i class="fa fa-fw fa-edit"></i></td>
<td (click)="deleteMenu(menu.id)"><i class="fa fa-fw fa-trash"></i></td>
</tr>
</tbody>

</table>



</div>