.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    /* -ms-overflow-x: hidden; */
   /*  overflow-x: hidden; */   /* with  theme */
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
     overflow: hidden; 
    min-height: calc(100vh - 55px);  
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
