<div class="mainwrap">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Update Category</h3>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['/categories']" role="button">Go back</a>
      </div>
    </div>
  </div>

  <div class="formwrap">
    <form #editcategoryForm="ngForm" (ngSubmit)="$event.preventDefault();updateCategoryResponse()">
  <div class="form-group row">
    <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Category Name</label>
    <div class="col-md-9">
      <input required type="text" [(ngModel)]="updatecategory.name" name="name" class="form-control" id="lgFormGroupInput" placeholder="">
    </div>
  </div>
  
  
  <div class="form-group row">
    <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Category Description</label>
    <div class="col-md-9">
      <textarea required style="resize: none" name="description" [(ngModel)]="updatecategory.description" class="form-control" id="exampleTextarea"
        rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="lgFormGroupInput" class="col-md-3 col-form-label col-form-label">Tax %</label>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xl-9">
          <div class="row">
            <div class="col-xl-3">
              <label>CGST </label>
              <input name="cgst" value="" [(ngModel)]="updatecategory.cgstValue" type="number" min="0" class="form-control form-control-sm">
            </div>
            <div class="col-xl-3">
              <label>SGST </label>
              <input name="sgst" value="" [(ngModel)]="updatecategory.sgstValue" type="number" min="0" class="form-control form-control-sm">
            </div>
            <div class="col-xl-3">
              <label>IGST </label>
              <input name="igst" value="" [(ngModel)]="updatecategory.igstValue" type="number" min="0" class="form-control form-control-sm">
            </div>
  
            <div class="col-xl-3">
              <label>GST </label>
              <input name="gst" value="" [(ngModel)]="updatecategory.gstValue" type="number" min="0" class="form-control form-control-sm">
            </div>
  
          </div>
  
  
        </div>
  
  
        <div class="col-xl-3">
          <label>Total Tax </label>
          <label> {{updatecategory.totalTax}}%</label>
        </div>
  
      </div>
  
      <!-- <div *ngIf="description.invalid&&description.dirty" class="text-danger" role="alert">
        Please Enter Category Description
      </div> -->
    </div>
  </div>
  
  <div class="form-group row">
    <label for="smFormGroupInput" class="col-md-3 col-form-label col-form-label-md">Choose Logo</label>
    <div class="col-md-5">
      <label class="custom-file">
        <input type="file" id="file" (change)="previewImage($event)" accept='image/*' class="custom-file-input" value="">
        <span class="custom-file-control"></span>
      </label>
    </div>
   <!--  <div class="col-md-3">
      <input type="button"  (click)="uploadImage()" class="btn btn-primary" value="Upload Image">
    </div> -->
  </div>
      <div class="preview">
        <div class="previewimage">
          <img id="imagesrc" src="{{updatecategory.icon}}" #fileInput>
      
        </div>
        <div class="previewname">
          <p> {{filename}}</p>
        </div>
      
      </div>


      <div class="editcategorybutton">
        <button [disabled]="!editcategoryForm.form.valid" type="submit" class="btn btn-primary">Update Category</button>
      </div>


    </form>
  </div>




</div>
<!-- mainwrap -->