.formwrap
{
width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 4%;
}

.editcategorybutton
{
margin-left: 28%;
margin-top: 5%;
}

.preview
{

margin-left: 28%;
}

.previewimage
{
width: 50%;
}

.previewtext
{
width: 50%;
}

.preview img
{
width: 150px;
height: 150px;
background-size: contain;
}
.imageerror
{
margin-left: 25%;
}