<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Belue Registration</h1>
            <form role="form" method="post" #signUp="ngForm"(ngSubmit)="$event.preventDefault();postResSignResponse()" >
                <div class="form-content"> 
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="name" id="res_name" placeholder="Restaurant Name*"
                        [(ngModel)]="ressignup.name" required #name="ngModel">
                    <div class="messagecss" [hidden]="name.pristine || name.untouched" *ngIf="name.invalid">
                        Restaurant Name is required
                    </div>
                    </div>
                   
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="username" id="user_name" placeholder="Username*"
                        [(ngModel)]="ressignup.username" required #username="ngModel">
                        <div class="messagecss" [hidden]="username.valid || username.pristine || username.untouched">
                            Username is required
                        </div>
                    </div>

                    <div class="form-group">
                    <input class="form-control input-underline address-lg" id="res_address" name="res_address" placeholder="Address*"
                    [(ngModel)]="ressignup.address" required #address="ngModel">
                    <div class="messagecss" [hidden]="address.valid || address.pristine||address.untouched">
                        Address is required
                    </div>
                    </div>

                    <div class="form-group">
                    <input type="tel" pattern="^\d{10}$" minlength="10" class="form-control input-underline input-lg" id="res_contact" name="res_contact" placeholder="Contact Number*"
                        [(ngModel)]="mobilenumber" required #contact="ngModel">
                        <div [hidden]="contact.pristine"  *ngIf="contact.invalid&&contact.dirty&&contact.touched" class="messagecss">
                            Please provide a 10 digit contact number
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="res_password" name="res_password" placeholder="Password*"
                        [(ngModel)]="ressignup.password" required #password>
                    </div>
        
                </div>
                <div class="buttonwrap">
                <input class="btn rounded-btn" [disabled]="!signUp.form.valid" type="submit" value="Register">&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                </div>
            </form>
        </div>
    </div>
</div>
