// shared css for the login and signup page
@import "../login/login.component.scss";

/* .address-lg {
    height: auto;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
    color: white;
} */

.contact
{
float: left !important;
margin-left: 15px;
}

div.form-group
{
margin-top: 10px !important;
margin-bottom: 10x !important;
}
.buttonwrap
{
    margin-bottom: 80px;
}

.messagecss
{
float: left;
margin: 0px !important;
margin-left: 15px !important;
color: red;
}