<div class="tableinfowrap">

  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Order History</h3>
      </div>

    </div>
  </div>

  <div class="card" *ngFor="let item of checkInItems">
    <div class="card-block">
      <div class="row">
        <div class="col-xl-10">
          <h4 class="card-title checkinid">Checkin Id - {{item.checkinid}}</h4>
        </div>
        <div class="col-xl-2">
          <button class="btn btn-primary btn-sm" [routerLink]="['../orders/orderdetails',item.checkinid]" role="button">View Details</button>
        </div>
      </div>
     
    
      <table class="card-block table table-responsive table-hover table-sm">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Customer Number</th>
            <th>Order Status</th>
            <th>Order Time</th>
            <th>Total Amount</th>
            <th>Payment Staus</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of item.orderdata">
          <tr>
            <td>{{order.orderName}}</td>
            <td>{{order.customer.name}} </td>
            <td>{{order.customer.phoneNumber}} </td>
            <td>{{order.orderStatusText}}</td>
            <td>{{order.created}} </td>
            <td>{{order.amount}} </td>
            <td>{{order.paymentStatusText}} </td>
          </tr>

        </tbody>

      </table>

    

    </div>