<div class="mainwrap">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-10">
        <h3>Update Menu</h3>
      </div>
      <div class="col-xl-2">
        <a class="btn btn-primary" [routerLink]="['/menus']" role="button">Go back</a>
      </div>
    </div>
  </div>

  <div class="formwrap">
    <form #editmenuForm="ngForm" (ngSubmit)="$event.preventDefault();updateMenuResponse()">

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-md-2 col-form-label col-form-label">Menu Name</label>
        <div class="col-md-10">
          <input #menu="ngModel" required type="text" [(ngModel)]="updatemenu.name" name="name" class="form-control form-control" id="lgFormGroupInput">
          <div *ngIf="menu.invalid&&menu.touched" class="text-danger" role="alert">
            Please Enter Menu Name
          </div>
        </div>
         
      </div>



      <div class="editmenubutton">
        <input  [disabled]="!editmenuForm.form.valid" type="submit" class="btn btn-primary" value="Update Menu">
      </div>


    </form>
  </div>




</div>
<!-- mainwrap -->