<div class="mainwrap">


    <div class="card-header">
        <div class="row">
            <div class="col-xl-2">
                <h4>Categories</h4>
            </div>
            <div class="col-xl-8">

            </div>

            <div class="col-xl-2">
                <a class="btn btn-primary" [routerLink]="['addcategory',menuid]" role="button">Add Category</a>
            </div>
        </div>
    </div>


        <div class="row col-lg-12">
            <!-- <div class="navwrap"> -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" *ngFor="let menu of menudata; let i=index">
                        <a class="nav-link" (click)="changecategory(i,menu.id)" [class.active]="menu.isSelected" data-toggle="tab" role="tab">{{menu.name}}</a>
                    </li>
                </ul>
            <!-- </div> -->

        </div>




  


    <table class="card-block table table-hover">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Category Image</th>
                <th>Total Tax</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let category of categorydata">
            <tr title="Click on category name to see category items">
                <td [routerLink]="['/items',category.id]">{{category.name}}</td>
                <td> {{category.description}} </td>
                <td>
                    <img src="{{category.icon}}" width="75px" height="75px"> </td>
                <td> {{category.totalTax}}%</td>
                <td>
                    <i [routerLink]="['editcategory',category.id,menuid]" class="fa fa-fw fa-edit"></i>
                </td>
                <td (click)="deleteCategory(category.id)">
                    <i class="fa fa-fw fa-trash"></i>
                </td>
            </tr>
        </tbody>


        <tbody *ngIf="!categorydata">
            <tr>
                <td colspan="3" align="center">There is no data</td>

            </tr>
        </tbody>


    </table>

</div>
<!-- main wrap -->
